body, html {
    margin: 0;
    font-family: sans-serif;
    background-color: white;
}

.content {
    margin: 0 auto;
    width: 400px;
}

h1, h2, h3, h4{
    text-align: center;
}

p{
    text-align: center;
}

table, td, th {
    border: 1px solid rgb(94, 94, 94);
    
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

.form {
    margin-top: 20px;
}

.borderless_table{
    border: none;
}

#content {
    width: 70%;
}

#number{
    text-align: center;
    font-size: 100px;
}